@charset "UTF-8";

#nowcount{
	color: red;
}

th{
	text-align: center;
}

td{
	text-align: center;
}


#searchArea {
    display: flex;
    flex-wrap : wrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
}
.search-btn {
	white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    text-align: center; /* 텍스트 중앙 정렬 */
    padding: 8px 12px;  /* 패딩 추가 */
    width: auto;         /* 버튼 크기 자동 */
    min-width: 80px;     /* 최소 버튼 너비 설정 */
}

#reload-btn {
    margin-right: 180px !important; /* !important를 사용해 인라인 스타일보다 우선 적용 */
}

#searchDateForm {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-control {
    width: auto; /* input 필드의 너비 조정 */
}

#vacationStatusTable{
	border: 1px solid gray;
}

.paging-area {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 상하 정렬 */
    margin-top: 0; /* 불필요한 여백 제거 */
}